<!doctype html>
<html>
<head>
<title>Show Timings</title>
<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<style>
	.table-hover tbody tr:hover th {
				background-color: white;
  
			}
			
			.table-hover tbody tr:hover td {
				background-color : #03adfc;
				color : white;
			}
			.table.fixed { table-layout:fixed; width:90px; word-break:break-all;}
  </style>
  <script>
function goBack() {
  window.history.back();
}
</script>
</head>
   <body style="background-image:url('https://www.czechtourism.com/getmedia/9a884748-7ad4-441e-ad69-dd8c9b5e6e1a/98250400.jpg.aspx/?width=4800&height=3000&ext=.jpg')">
	  <div class="container"><br/>
			<div class="row" style="padding-top:9%">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading text-center" style="background-color:black;color:white"><strong>Show Timings</strong></div>
						<div class="panel-body">
							<table class="table table-bordered table-hover vmiddle">
								{% for key, value in result.items() %}
								<tr>
									<th class="text-center" style="background-color:#03adfc;color:white"> {{ key }} </th>
									<td> {{ value }} </td>
								</tr>
								{% endfor %}
							</table> 
						</div>
						<div class="input-group-btn" style="text-align:center;">
							<button class="btn btn-primary btn-md" id="redirectbutton" onclick="goBack()">Back to home page</button>
						</div><br>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
   </body>
</html>